   /* css */
   #celsius-fahrenheit {
       text-decoration: none;
       color: #8064e9
   }

   .footer {
       margin-top: 100px;
   }

   .container {
       background-color: rgb(159, 174, 232);
       width: 100%;
       height: 460px;
       margin: 20px;
       border-radius: 15px;
       z-index: 1;
   }

   #current_weather {
       color: rgb(224, 224, 49);
       font-size: 200px;
   }